/* Insights Page Styling */

/* .insights main h2{
    font-family: var(--labg-text-black);
    font-size: var( --heading-font-size-xl);
    font-weight: var(  --font-weight-extra-heavy);
    line-height: 1;
    color: var(--text-color);
    letter-spacing: -0.01em;
    margin: 2px 0 0;
}

.insights main h3{
    font-family: var( --ivar-display-semibold);
    font-size: 30px;
    font-weight: var( --font-weight-medium);
    line-height: var(  --line-height-1-25);
    color: inherit;
    letter-spacing: 0;
    margin: 60px 0 24px;
}

.insights main .default-content-wrapper p{
    font-family: var(--labg-text-thin);
    font-size: var(--body-font-size-m);
    font-weight: var(--font-weight-light);
    line-height: var(--line-height-1-66);
    color: var(--text-color);
    letter-spacing: var(  --letter-spacing-1);
}

.insights main .default-content-wrapper p strong{
    display: inline-block;
}

.insights main .default-content-wrapper p > strong::first-letter{
    color: var(--clr-blue);
    font-family: var(--ivar-display-semibold);
    font-size:72px
}


.insights main .default-content-wrapper p > code::before{
    position: absolute;
    top: 0;
    left: -32px;
    width: 32px;
    height: 100%;
    content: '';
    background-color: var(--clr-blue);
    margin-right: 10px;
}

.insights main .default-content-wrapper p > code{
    font-family: var(--ivar-display-semibold);
    font-size: var( --heading-font-size-xl);
    font-weight: var(--font-weight-heavy);
    line-height: var(--line-height-1);
    color: var(--text-color);
    letter-spacing: 0;
    position: relative;
    text-transform: uppercase;
}


.insights main img{
    width: 100%;
    height: 100%;
    max-width: 1440px;
    display: block;
} */


.insights main .insight-banner h2 {
  font-family: var(--labg-text-black);
  font-size: 40px;
  font-weight: 900;
  line-height: 1;
  color: #454547;
  letter-spacing: -0.01em;
  margin: 2px 0 0;
}

.insights main .insight-banner h3 {
  font-family: var(--ivar-headline-medium);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.25;
  color: #7e7e81;
  letter-spacing: 0.02em;
  margin: 12px 42px 0 0;
}

.insights main .insight-content h3 {
  font-family: var(--ivar-display-semibold);
  font-size: 30px;
  font-weight: 600;
  line-height: 1.125;
  color: inherit;
  letter-spacing: 0;
  margin: 60px 0 24px;
}

.insights main .insight-thumbnail {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

.insights main .insight-thumbnail .default-content-wrapper {
  max-width: 1440px;
  padding: 0;
  margin: 0;
  border: none;
}

.insights main .insight-thumbnail img {
  width: 100%;
  height: 144px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: lighten;
}

.insights main .insight-content {
  margin: 54px 0;
}

.insights main .insight-content .default-content-wrapper {
  max-width: 890px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 94px;
}

.insights main .insight-content ul p,
.insights main .insight-content ol p {
  margin: 0;
}

.insights main .insight-content .default-content-wrapper p {
  line-height: var(--line-height-1-66);
  font-size: 20px;
}

.insights main .insight-content .default-content-wrapper code {
  position: relative;
  left: calc((100% - 100vw) / 2 + 7px);
  padding: 0 0 0 50px;
  margin: 44px 0;
  text-transform: uppercase;
  font-family: var(--ivar-display-semibold);
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  color: #454547;
  letter-spacing: 0;
  padding-left: 82px; /* 50px for space + 32px for colored bar */
  /* stylelint-disable-next-line */
  -webkit-box-decoration-break: clone; /* for Chrome, Safari */
  box-decoration-break: clone;
  background: linear-gradient(to right, #00ada2 0%, #00ada2 32px, transparent 32px, transparent 100%);
  background-repeat: repeat-y;
}

.insights main .insight-content .default-content-wrapper p:last-of-type::after {
  content: "  " url('../../styles/icons/insight-logo.svg');
  white-space: pre;
}

.insights main .insight-content .media-wrapper {
  width: 840px;
}

.insights main .insight-content .default-content-wrapper + .media-wrapper::before {
  content: "";
  display: block;
  margin-bottom: -58px; /* Adjust to counteract the default margin */
}

.insights main .insight-content ul {
  list-style-type: disc;
}

.insights main .insight-content li {
  font-family: var(--labg-text-thin);
  font-size: 20px;
  font-weight: 300;
  line-height: 1.67;
  color: #454547;
  letter-spacing: 0.01em;
}

.insights main .insight-content ul,
.insights main .insight-content ol {
  max-width: 720px;
  margin-right: auto;
  margin-bottom: 2em;
}

.insights main .insight-content ul li + li,
.insights main .insight-content ol li + li {
  margin-top: 20px;
}

@media(min-width: 576px) {
  .insights main .insight-banner h3 {
    max-width: 80%;
    margin: 12px 0 0;
  }
}

@media (min-width: 768px) {
  .insights main .insight-thumbnail img {
    height: 268px;
  }

  .insights main .insight-banner h2 {
    font-size: 48px;
  }

  .insights main .insight-banner h3 {
    max-width: 70%;
  }

  .insights main .insight-content h3 {
    margin: 60px 0 36px;
  }

  .insights main .insight-content .default-content-wrapper {
    padding: 0 50px 0 0;
    margin-bottom: 84px;
    font-family: var(--labg-text-regular);
    font-weight: 300;
    color: var(--text-color);
    letter-spacing: 0.01em;
  }

  .insights main .insight-content .default-content-wrapper:first-of-type p:first-child::first-letter {
    font-family: var(--ivar-display-semibold);
    color: var(--clr-blue);
    float: left;
    font-size: 3.3em;
    line-height: 1;
    height: 2em;
    margin-right: 8px;
    font-weight: bold;
  }

  .insights main .insight-content .default-content-wrapper p {
    font-size: 24px;
  }

  .insights main .insight-content .default-content-wrapper code {
    left: calc((100% - 100vw) / 2 + 32px);
  }

  .insights main .insight-content ul,
  .insights main .insight-content ol {
    margin-left: 10px;
  }
}

@media (max-width: 954px) {
  .insights main .insight-content .default-content-wrapper {
    margin-right: 32px;
    margin-left: 32px;
  }
}

@media (min-width: 1280px) {
  .insights main .insight-thumbnail img {
    height: 500px;
  }

  .insights main .insight-banner h3 {
    font-size: 22px;
  }

  .insights main .insight-content h3 {
    margin: 85px 0 36px;
    font-size: 32px;
  }

  .insights main .insight-content .default-content-wrapper {
    max-width: 840px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    margin-bottom: 152px;
    font-size: 24px;
  }

  .insights main .insight-content .default-content-wrapper code {
    left: calc((100% - 100vw) / 2 + 7px);
    padding: 0 0 0 100px;
  }

  .insights main .insight-content .default-content-wrapper + .media-wrapper::before {
    content: "";
    display: block;
    margin-bottom: -116px;  /* Adjust to counteract the default margin */
  }
}

