header .nav-wrapper {
  background-color: #f5f7f7;
  width: 100%;
  z-index: 2;
  position: fixed;
}

header nav > div:first-of-type {
  box-sizing: border-box;
  display: grid;
  grid-template: 'brand navigation hamburger' var(--nav-height);  
  align-items: center;
  gap: 0 2em;
  margin: auto;
  max-width: 1264px;
  height: var(--nav-height);
  padding: 0 1rem;
  font-family: var(--body-font-family);  
}



header nav .hamburger-desktop{
  display: none;
  visibility: hidden;
}

/* brand */
header nav .logo {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
  margin: 0;  
  display: flex;
}


header nav .logo svg {
  width: 196px;
  height: 43px;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;  
  display: flex; 
  margin-left: 60%;
}

header nav .nav-hamburger button {
  height: 44px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 6px;
  background: none;
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
  width: 44px;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;  
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon,
header nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (max-width: 768px){
  header nav > div:first-of-type {
    box-sizing: border-box;
    display: grid;
    grid-template: 'brand hamburger' var(--nav-height);  
    align-items: center;    
    margin: auto;
    max-width: 768px;
    height: var(--nav-height);
    padding: 0 1rem;
    font-family: var(--body-font-family);  
  }

  header nav[aria-expanded="true"]  > div:first-of-type {
    grid-template:
      'brand hamburger' var(--nav-height)
      'mobile-nav mobile-nav' 1fr;
    overflow-y: auto;
    min-height: 100vh;
  }

  header nav .navigation {
    display: none;
    visibility: hidden;
  }

  header nav .hamburger-mobile {
    grid-area: mobile-nav;
    flex: 1 1 auto;
    display: none;
    visibility: hidden;
    background-color: var(--overlay-color);    
  }
  
  header nav[aria-expanded="true"]  .hamburger-mobile {
    display: block;
    visibility: visible;
    align-self: center;
    flex-direction: column;    
    flex-grow: 1;   
    flex-shrink: 0;    
    justify-content: center;
  }
  
  header nav  .hamburger-mobile ul  {
    list-style: none;
    padding-left: 0;  
  }
  
  header nav .hamburger-mobile ul > li:nth-child(4) {
    margin-bottom: 23px;
}

  header nav  .hamburger-mobile ul > li >strong {
    font-family: var(--ivar-headline-medium);
    font-size: var(--heading-font-size-xl);
    line-height: 1.75;
    letter-spacing: .5px;    
    color: var(--text-color);
  }

  header nav  .hamburger-mobile ul > li {
    font-family: var(--labg-text-light);
    font-size: var(--body-font-size-m);
    line-height: var(--line-height-1-5);
    letter-spacing: .25px;   
    color: var(--text-color);
  }
  
  header nav  .hamburger-mobile ul > li > ul {
    margin-top: 0;
  }
  
  header nav  .hamburger-mobile ul > li > ul > li {
    font-weight: 500;
  }

}

@media (min-width: 1280px){
  header nav .hamburger-desktop, .hamburger-mobile{
    display: none;
    visibility: hidden;
  }
  header nav .navigation {
    grid-area: navigation;
    flex: 1 1 auto;
    display: flex;
    visibility: visible;
    background-color: var(--overlay-color);
  }
  
  header nav[aria-expanded="true"] .navigation {
    display: none;
    visibility: hidden;
    align-self: start;
  }
  
  header nav .navigation ul {
    display: flex;
    gap: 2em;
    margin: 0;
    font-size: var(--body-font-size-xs);
    list-style: none;
  }
  
  header nav .navigation ul > li {
    flex: 0 1 auto;
    position: relative;
    font-family: var(--ivar-text-medium);
    font-size: 16px;  
    line-height: 1;
    color: #454547;
    letter-spacing: 0.04em;
  }
  
  header nav .navigation > ul > li > ul {
    display: none;
    position: relative;
  }
  
  header nav .navigation > ul > li[aria-expanded="true"] > ul {
    display: block;
    position: absolute;
    left: -1em;
    width: 200px;
    margin-top: 12px;
    padding: 1em;
    background-color: var(--highlight-background-color);
    white-space: initial;
  }
  
  header nav .navigation > ul > li > ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--highlight-background-color);
  }
  
  header nav .navigation > ul > li > ul > li {
    padding: 8px 0;
  }
  
  header nav .navigation ul > li.button{  
    font-family: var(--body-font-family);
    font-size: var(--body-font-size-xxs);
    font-weight: var(--font-weight-heavy);
    line-height: var(--line-height-1);
    letter-spacing: var(--letter-spacing-button);  
    padding: 15px 22px;  
    text-transform: uppercase;
    border-style: solid;
    border-width: 2px;
    background-color: var(--primary-button-color);
    border-color: var(--primary-button-color);
    color: var(--button-label-color);
    font-style: normal;
    margin-top: -15px;
  }
  
}

@media (min-width: 768px ) and (max-width: 1280px){
  header nav .hamburger-mobile{
    display: none;
    visibility: hidden;
  }
  header nav .navigation{
    display: none;
    visibility: hidden;
  }
}